<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Jerry E-Commerce</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1>Order Successful</h1>

<table>
    <tr>
        <td>Order Id:</td>
        <td th:text="${order.id}"></td>
    </tr>
    <tr>
        <td>Item Id:</td>
        <td th:text="${order.itemId}"></td>
    </tr>
    <tr>
        <td>User Id:</td>
        <td th:text="${order.userId}"></td>
    </tr>
    <tr>
        <td>Total Price: </td>
        <td th:text="${order.totalFee}"></td>
    </tr>
    <tr>
        <td>Created: </td>
        <td th:text="${order.gmtCreate}"></td>
    </tr>
</table>

<a href="/">Go home</a>
</body>
</html>