<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Jerry E-Commerce</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="application/javascript">
        function updateQuantity(itemId, quantityId) {
            console.log("Test: " + quantityId);
            var ele = document.getElementById(quantityId);
            var value = ele.value;
            fetch("/cart/change", {
                method: 'post',
                credentials: "same-origin",
                headers: {
                    "Content-Type": 'application/json'
                },
                body: JSON.stringify({
                    itemId: itemId,
                    quantity: value
                })
            }).then(function (response) {
                return response.json();
            }).then(function (text) {
                console.log(text);
                window.location.reload(false);
            })

        }

        function remove(itemId) {
            fetch("/cart/remove", {
                method: 'post',
                credentials: "same-origin",
                headers: {
                    "Content-Type": 'application/json'
                },
                body: JSON.stringify({
                    itemId: itemId
                })
            }).then(function (response) {
                return response.json();
            }).then(function (text) {
                console.log(text);
                window.location.reload(false);
            })

        }
    </script>
</head>
<body>

<h1>Cart Content</h1>

<form action="#" th:action="@{/confirmOrder}" method="post" th:object="${order}">
    <button type="submit" name="cart">Buy</button>
    <table>
        <tr>
            <th></th>
            <th>CartItem ID</th>
            <th>Item ID</th>
            <th>Quantity</th>
            <th>Operations</th>
        </tr>
        <th:block th:each="cartItem, stat : ${cartItems}">
            <tr>
                <td>
                    <input type="checkbox" th:field="*{cartItems[__${stat.index}__].selected}"/>
                    <input type="hidden" th:field="*{cartItems[__${stat.index}__].cartItemId}"/>
                    <input type="hidden" th:field="*{cartItems[__${stat.index}__].itemId}"/>
                    <input type="hidden" th:field="*{cartItems[__${stat.index}__].quantity}"/>
                </td>
                <td th:text="${cartItem.cartItemId}"></td>
                <td th:text="${cartItem.itemId}"></td>
                <td th:text="${cartItem.quantity}"></td>
                <td>
                    <input type="number" th:id="|quantity${stat.index}|" th:value="${cartItem.quantity}"/>
                    <button type="button" th:onclick="|updateQuantity('${cartItem.itemId}', 'quantity${stat.index}')|">
                        Update Quantity
                    </button>
                </td>
                <td>
                    <button type="button" th:onclick="|remove('${cartItem.itemId}')|">
                        Remove
                    </button>
                </td>
            </tr>
        </th:block>
    </table>
</form>

</body>
</html>