<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Jerry E-Commerce</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div>
    <a href="/category">Back</a>
</div>

<h1>Category Property List for <span th:text="${category.name}"></span>:</h1>

<div>
    <a href="#" th:href="@{/category/property/new(categoryId=${category.id})}">Add Property</a>
</div>

<table>
    <tr>
        <th>Category ID</th>
        <th>Property ID</th>
        <th>Alias</th>
        <th>SortOrder</th>
        <th>Create</th>
        <th>Modified</th>
        <th>Operations</th>
    </tr>
    <th:block th:each="cp : ${properties}">
        <tr>
            <td th:text="${cp.categoryId}"></td>
            <td th:text="${cp.propertyId}"></td>
            <td th:text="${cp.alias}"></td>
            <td th:text="${cp.sortOrder}"></td>
            <td th:text="${cp.gmtCreate.toLocalDateTime()}"></td>
            <td th:text="${cp.gmtModified.toLocalDateTime()}"></td>
            <td>
                <a th:href="@{/category/property/edit(categoryId=${cp.categoryId}, propertyId=${cp.propertyId})}">Edit</a>
                <span>&nbsp;|&nbsp;</span>
                <a th:href="@{/category/property/value(categoryId=${cp.categoryId}, propertyId=${cp.propertyId})}">Manage
                    Values</a>
                <!--<a href="#" th:href="@{/category/new(parentId=${category.id})}">Add Child</a>-->
                <!--<span>&nbsp;|&nbsp;</span>-->
                <!--<a th:if="${category.status == 'Normal'}"-->
                <!--th:href="@{/category/disable(id=${category.id})}">Disable</a>-->
                <!--<a th:if="${category.status == 'Disabled'}"-->
                <!--th:href="@{/category/enable(id=${category.id})}">Enable</a>-->
            </td>
        </tr>
    </th:block>
</table>

</body>
</html>