<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Jerry E-Commerce</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1 th:if="${category.id != null}">Edit Category</h1>
<h1 th:if="${category.id == null}">New Category</h1>

<form th:action="@{/category}" th:object="${category}" method="post">
    <input type="hidden" th:if="${category.id != null}" th:field="*{id}"/>
    <input type="hidden" th:if="${category.parentId != null}" th:field="*{parentId}"/>
    <table>
        <tr>
            <td>ParentId:</td>
            <td th:text="*{parentId}"></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <!--<tr th:if="${category.id != null}">-->
            <!--<td>IsLeaf:</td>-->
            <!--<td><input type="checkbox" disabled th:value="*{isLeaf}"/></td>-->
        <!--</tr>-->
        <tr>
            <td><input type="submit"/></td>
            <td></td>
        </tr>
    </table>
</form>

</body>
</html>