<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Jerry E-Commerce</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1>Confirm Order: </h1>
<form action="#" th:action="@{/buy}" method="post" th:object="${order}">

    <table>
        <tr>
            <td>Delivery Address: </td>
            <td th:text="${order.address}"></td>
        </tr>
    </table>

    <input type="hidden" th:field="*{buyerId}"/>
    <th:block th:each="orderLine, stat: *{orderLines}">
        <input type="hidden" th:field="*{orderLines[__${stat.index}__].itemId}" />
        <input type="hidden" th:field="*{orderLines[__${stat.index}__].skuId}" />
        <input type="hidden" th:field="*{orderLines[__${stat.index}__].quantity}" />
    </th:block>
    <table>
        <tr>
            <td>Username:</td>
            <td th:text="${user.username}"></td>
        </tr>
        <tr>
            <td>buyerId:</td>
            <td th:text="*{buyerId}"></td>
        </tr>
        <tr>
            <td>Order Lines:</td>
            <td>
                <table>
                    <tr>
                        <th>sellerId</th>
                        <th>itemId</th>
                        <th>itemTitle</th>
                        <th>itemImgUrl</th>
                        <th>quantity</th>
                        <th>itemPrice</th>
                        <th>discountFee</th>
                        <th>totalFee</th>
                        <th>attributes</th>
                    </tr>
                    <th:block th:each="orderLine: *{orderLines}">
                        <tr>
                            <td th:text="${orderLine.sellerId}"></td>
                            <td th:text="${orderLine.itemId}"></td>
                            <td th:text="${orderLine.itemTitle}"></td>
                            <td th:text="${orderLine.itemImgUrl}"></td>
                            <td th:text="${orderLine.quantity}"></td>
                            <td th:text="${orderLine.itemPrice}"></td>
                            <td th:text="${orderLine.discountFee}"></td>
                            <td th:text="${orderLine.totalFee}"></td>
                            <td th:text="${orderLine.attributes}"></td>
                        </tr>
                    </th:block>
                </table>
            </td>
        </tr>
        <tr>
            <td>Total Quantity:</td>
            <td th:text="${order.quantity}"></td>
        </tr>
        <tr>
            <td>Total Fee:</td>
            <td th:text="${order.totalFee}"></td>
        </tr>
        <tr>
            <td><input type="submit"/></td>
        </tr>
    </table>
</form>
</body>
</html>