<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Jerry E-Commerce</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="application/javascript">
        function addToCart(itemId) {

            var quantity = document.getElementById("quantity").value;
            console.log(quantity);

            fetch("/cart/add", {
                method: 'post',
                credentials: "same-origin",
                headers: {
                    "Content-Type": 'application/json'
                },
                body: JSON.stringify({
                    itemId: itemId,
                    quantity: quantity
                })
            }).then(function (response) {
                console.log(response);
                return response.json();
            }).then(function (text) {
                if (text != null) {
                    console.log(text);
                    alert("Added to cart");
                }
            })
        }
    </script>
</head>
<body>

<h1>Item Detail: </h1>

<form action="#" th:action="@{/confirmOrder}" method="get" th:object="${detail}">
    <input type="hidden" th:field="*{itemId}"/>
    <table>
        <tr>
            <td>Img Url:</td>
            <td th:text="*{imgUrl}"></td>
        </tr>

        <tr>
            <td>Title:</td>
            <td th:text="*{title}"></td>
        </tr>

        <tr>
            <td>Price:</td>
            <td th:text="*{price}"></td>
        </tr>

        <tr>
            <td>Promoted Price:</td>
            <td th:text="*{newPrice}"></td>
        </tr>

        <tr>
            <td>Inventory:</td>
            <td th:text="*{inventory}"></td>
        </tr>

        <tr>
            <td>Quantity:</td>
            <td>
                <input type="number" name="quantity" value="1" id="quantity"/>
            </td>
        </tr>
    </table>

    <button type="button" th:onclick="|addToCart('${detail.itemId}')|">Add to Cart</button>
    <button type="submit" name="buyNow" value="1">Buy Now</button>
</form>


</body>
</html>