<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Jerry E-Commerce</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="application/javascript">
        function addToCart(itemId, skuId) {

            var quantity = document.getElementById("quantity").value;
            console.log(quantity);

            fetch("/cart/add", {
                method: 'post',
                credentials: "same-origin",
                headers: {
                    "Content-Type": 'application/json'
                },
                body: JSON.stringify({
                    itemId: itemId,
                    skuId: skuId,
                    quantity: quantity
                })
            }).then(function (response) {
                console.log(response);
                return response.json();
            }).then(function (text) {
                if (text != null) {
                    console.log(text);
                    alert("Added to cart");
                }
            })
        }
    </script>
    <style type="text/css">
        .selected {
            border: 1px solid red;
        }
    </style>
</head>
<body>

<h1>Item Detail: </h1>

<form action="#" th:action="@{/confirmOrder}" method="get" th:object="${item}">
    <input type="hidden" th:name="itemId" th:value="${item.id}"/>
    <input type="hidden" th:if="${skuId != null}" th:name="skuId" th:value="${skuId}"/>
    <table>
        <tr>
            <td>Img Url:</td>
            <td th:text="*{imgUrl}"></td>
        </tr>

        <tr>
            <td>Title:</td>
            <td th:text="*{title}"></td>
        </tr>

        <tr>
            <td>Price:</td>
            <td th:if="${selectedSku == null}" th:text="*{price}"></td>
            <td th:if="${selectedSku != null}" th:text="${selectedSku.price}"></td>
        </tr>

        <tr>
            <td>Inventory:</td>
            <td th:if="${selectedSku == null}" th:text="*{inventory}"></td>
            <td th:if="${selectedSku != null}" th:text="${selectedSku.inventory}"></td>
        </tr>

        <tr th:each="prop: ${props}">
            <td th:text="${prop.alias}"></td>
            <td>
                <th:block th:each="value: ${prop.values}">
                    <a th:href="@{/detail(itemId=${item.id}, pv=${value.pv}, skuId=${value.skuId})}"
                       th:class="${value.selected ? 'selected' : ''}"
                       th:text="${value.alias}"></a>
                </th:block>
            </td>
        </tr>

        <!--<tr>-->
        <!--<td>Promoted Price:</td>-->
        <!--<td th:text="*{prices}"></td>-->
        <!--</tr>-->

        <!--<tr>-->
        <!--<td>Inventory:</td>-->
        <!--<td th:text="*{inventory}"></td>-->
        <!--</tr>-->

        <tr>
            <td>Quantity:</td>
            <td>
                <input type="number" name="quantity" value="1" id="quantity"/>
            </td>
        </tr>
    </table>

    <button type="button" th:onclick="|addToCart(${item.id}, ${skuId})|" th:disabled="${skuId == null}">Add to Cart</button>
    <button type="submit" name="buyNow" value="1" th:disabled="${skuId == null}">Buy Now</button>
</form>


</body>
</html>