<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Jerry E-Commerce</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Welcome <span th:text="${nick}"></span></h1>
<div>
<a href="/login">Login</a>
    <span>&nbsp;|&nbsp;</span>
<a href="/register">Register</a>
</div>
<br/>
<div>Items: </div>
<table>
    <tr>
        <th>Item ID</th>
        <th>Title</th>
        <th>Price</th>
    </tr>
    <th:block th:each="item:${items}">
        <tr>
            <td th:text="${item.id}"></td>
            <td th:text="${item.title}"></td>
            <td th:text="${item.price}"></td>
            <td th:if="${nick != null}">
                <a th:href="@{/buy(itemId=${item.id})}">Buy Now</a>
            </td>
        </tr>
    </th:block>
</table>

<br/>

<div>Orders: </div>
<table>
    <tr>
        <th>Order ID</th>
        <th>User ID</th>
        <th>Item ID</th>
    </tr>
    <th:block th:each="order:${orders}">
        <tr>
            <td th:text="${order.id}"></td>
            <td th:text="${order.userId}"></td>
            <td th:text="${order.itemId}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>