<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head lang="en">
    <title>Jerry E-Commerce</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="application/javascript">
        function addToCart(itemId) {
            fetch("/cart/add", {
                method: 'post',
                credentials: "same-origin",
                headers: {
                    "Content-Type": 'application/json'
                },
                body: JSON.stringify({
                    itemId: itemId,
                    quantity: 1
                })
            }).then(function (response) {
                return response.json();
            }).then(function (text) {
                console.log(text);
            })
        }
    </script>
</head>
<body>
<h1>Welcome <span th:if="${user != null}" th:text="${user.getUsername()}"></span></h1>
<div>
    <a href="/login">Login</a>
    <span>&nbsp;|&nbsp;</span>
    <a href="/register">Register</a>
    <span>&nbsp;|&nbsp;</span>
    <a href="/sell">Sell</a>
    <span>&nbsp;|&nbsp;</span>
    <a href="/category">Category</a>
    <span>&nbsp;|&nbsp;</span>
    <a href="/cart">Cart</a>
</div>
<div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
    Logged in user: <span sec:authentication="name"></span> |
    Roles: <span sec:authentication="principal.authorities"></span>
    <div>
        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>
    </div>
</div>
<br/>

<h3>Categories</h3>
<table>
    <tr>
        <th>Category ID</th>
        <th>Parent ID</th>
        <th>Name</th>
        <th>IsLeaf</th>
    </tr>
    <th:block th:each="category : ${categories}">
        <tr>
            <td th:text="${category.id}"></td>
            <td th:text="${category.parentId}"></td>
            <td th:text="${category.name}"></td>
            <td th:text="${category.isLeaf}"></td>
            <td>
                <a th:href="@{/category(categoryId=${category.id})}">Edit</a>
            </td>
        </tr>
    </th:block>
</table>

<br/>

<h3>Items</h3>
<table>
    <tr>
        <th>Item ID</th>
        <th>Category ID</th>
        <th>User ID</th>
        <th>Title</th>
        <th>Price</th>
    </tr>
    <th:block th:each="item:${items}">
        <tr>
            <td th:text="${item.id}"></td>
            <td th:text="${item.categoryId}"></td>
            <td th:text="${item.userId}"></td>
            <td th:text="${item.title}"></td>
            <td th:text="${item.price}"></td>

            <td th:if="${#httpServletRequest.getRemoteUser() != null}">
                <a th:href="@{/confirmOrder(itemId=${item.id}, buyNow=1)}">Buy Now</a>
            </td>
            <td th:if="${#httpServletRequest.getRemoteUser() != null}">
                <button type="button" th:onclick="|addToCart('${item.id}')|">Add to Cart</button>
            </td>
            <td th:if="${user != null && user.id == item.userId}">
                <a th:href="@{/sell(itemId=${item.id})}">Edit</a>
            </td>
        </tr>
    </th:block>
</table>


<br/>

<h3>Orders</h3>
<table>
    <tr>
        <th>Order ID</th>
        <th>Buyer ID</th>
        <th>Seller ID</th>
        <th>Item ID</th>
        <th>Quantity</th>
        <th>Total Fee</th>
    </tr>
    <th:block th:each="order:${orders}">
        <tr>
            <td th:text="${order.id}"></td>
            <td th:text="${order.buyerId}"></td>
            <!--<td th:text="${order.sellerId}"></td>-->
            <!--<td th:text="${order.itemId}"></td>-->
            <!--<td th:text="${order.quantity}"></td>-->
            <td th:text="${order.totalFee}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>