<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Jerry E-Commerce</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1>Order Detail: </h1>

<table th:object="${order}">
    <tr>
        <td>Order ID:</td>
        <td th:text="*{id}"></td>
    </tr>

    <tr>
        <td>Pay Status:</td>
        <td th:text="*{payStatus}"></td>
    </tr>

    <tr>
        <td>
            <table>
                <tr>
                    <th>sellerId</th>
                    <th>itemId</th>
                    <th>itemTitle</th>
                    <th>itemImgUrl</th>
                    <th>quantity</th>
                    <th>itemPrice</th>
                    <th>discountFee</th>
                    <th>totalFee</th>
                </tr>
                <th:block th:each="subOrder: *{subOrders}">
                    <tr>
                        <td th:text="${subOrder.sellerId}"></td>
                        <td th:text="${subOrder.itemId}"></td>
                        <td th:text="${subOrder.itemTitle}"></td>
                        <td th:text="${subOrder.itemImgUrl}"></td>
                        <td th:text="${subOrder.quantity}"></td>
                        <td th:text="${subOrder.itemPrice}"></td>
                        <td th:text="${subOrder.discountFee}"></td>
                        <td th:text="${subOrder.totalFee}"></td>
                    </tr>
                </th:block>
            </table>
        </td>
    </tr>
    <tr>
        <td>Total Quantity:</td>
        <td th:text="*{quantity}"></td>
    </tr>
    <tr>
        <td>Total Fee:</td>
        <td th:text="*{totalFee}"></td>
    </tr>


</table>


<form action="/pay" method="post" th:if="${shouldPay}">
    <input type="hidden" name="orderId" th:value="${order.id}"/>
    <button type="submit" name="action" value="pay">Pay Now</button>
</form>

</body>
</html>