<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Jerry E-Commerce</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1 th:if="${item.itemId != null}">Edit Item</h1>
<h1 th:if="${item.itemId == null}">Publish Item</h1>

<form th:action="@{/sell}" th:object="${item}" method="post">
    <input th:if="${item.itemId != null}" type="hidden" name="itemId" th:value="${item.getItemId()}"/>
    <table>
        <tr>
            <td>Title:</td>
            <td><input type="text" id="title" name="title" th:value="${item.title}"/></td>
        </tr>
        <tr>
            <td>Image Url:</td>
            <td><input type="text" name="imgUrl" th:value="${item.getImgUrl()}"/></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" name="price" th:value="${item.getPrice()}"/></td>
        </tr>
        <tr>
            <td><input type="submit"/></td>
            <td></td>
        </tr>
    </table>
</form>

</body>
</html>