<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Jerry E-Commerce</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1>Item Publish Successful</h1>

<table th:object="${item}">
    <tr>
        <td>Item Id:</td>
        <td th:text="${item.getId()}"></td>
    </tr>
    <tr>
        <td>Category Id:</td>
        <td th:text="${item.getCategoryId()}"></td>
    </tr>
    <tr>
        <td>User Id:</td>
        <td th:text="${item.getUserId()}"></td>
    </tr>
    <tr>
        <td>Title:</td>
        <td th:text="${item.getTitle()}"></td>
    </tr>
    <tr>
        <td>Image Url:</td>
        <td th:text="${item.getImgUrl()}"></td>
    </tr>
    <tr>
        <td>Price:</td>
        <td th:text="${item.getPrice()}"></td>
    </tr>
    <tr>
        <td>Created:</td>
        <td th:text="${item.getGmtCreate()}"></td>
    </tr>
</table>

<a href="/">Go home</a>
</body>
</html>